/* Header.css */
a {
  text-decoration: none;
}
.header-container {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  z-index: 1000;
  color: black;
  font-size: 40px;
}

.header-logo {
  text-decoration: none;
  color: black;
  margin-left: 70px; /* margin-left을 중복으로 설정하지 않도록 수정 */
}

.btn-container {
  margin-left: 35%;
  display: flex;
  width: auto;
}

.header-button {
  width: auto;
  height: auto;
  margin-left: 30%;
  font-size: 18px;
  background-color: transparent;
  border: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.menu {
  width: 100%;
  height: 0px; /* 초기에는 메뉴가 숨겨져 있도록 설정 */
  opacity: 0; /* 초기에는 투명도를 0으로 설정 */
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border-top: 1px solid lightgray;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden; 
  display: flex;
  flex-direction: row;
  transition: height 0.5s ease, opacity 0.5s ease; 
  justify-content: center;
}

.menu.open {
  height: 500px; /* 메뉴가 열렸을 때의 높이 설정 */
  opacity: 1; /* 메뉴가 열렸을 때의 투명도 설정 */
  justify-content: center;
}

.menu-item-container {
  width: 180px;
  display: flex;
  flex-direction: column;
  border-left: 1px solid lightgray;
  text-align: left;
}
.menu-item-container:last-child {
  border-right: 1px solid lightgray;
}

.menu-item-title {
  padding: 10px 20px;
  margin-top: 15px; /* % 단위를 px로 변경 */
  font-size: 18px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}

.menu-item {
  padding: 10px 20px;
  white-space: nowrap;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 14px;
  margin-top: 10px; /* % 단위를 px로 변경 */
  color: gray;
  position: relative;
  transition: color 0.3s ease;
}
.menu-item::after {
  content: ''; /* 가상 요소 내용 설정 */
  position: absolute; /* 절대 위치 설정 */
  left: 15px; /* 왼쪽 위치 설정 */
  bottom: 0; /* 아래쪽 위치 설정 */
  width: 0; /* 초기 너비 설정 */
  height: 2px; /* 선 높이 설정 */
  background-color: black; /* 선 색상 설정 */
  transition: width 0.5s ease; /* 선의 너비 변경에 대한 transition 설정 */
}

.menu-item:hover {
  color: black; /* hover 시 텍스트 색상을 검은색으로 변경 */
}

.menu-item:hover::after {
  width: 60%; /* hover 시 선의 너비를 100%로 확장 */
}

@media only screen and (max-width: 768px) {
  .header-container {
    user-select: none;
    height: auto;
    width: 100%;
    font-size: 24px;
    background-color: white;
    
  }
  .btn-container {
    margin-left: 32%;
    display: flex;
    width: 10px;
  }
  .header-logo {
    margin-left: 50%;
    font-size: 40px;
  }
  .header-button {
    margin-left: 10%;
    font-size: 16px;
    color: black;
    cursor: pointer;
    text-decoration: none;
  }

  .menu {
    position: absolute; /* 절대 위치 설정 */
    width: 100%;
    height: 0; /* 초기에는 메뉴가 숨겨져 있도록 설정 */
    opacity: 0; /* 초기에는 투명도를 0으로 설정 */
    background-color: #fff;
    border-top: 1px solid lightgray;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    transition: height 0.5s ease, opacity 0.5s ease;
  }
  .menu.open {
    height: 250px; /* 메뉴가 열렸을 때의 높이 설정 */
    opacity: 1; /* 메뉴가 열렸을 때의 투명도 설정 */
  }
  .menu-item-title {
    padding: 10px 20px;
    margin-top: 0px;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
  }
  
  .menu-item {
    padding: 10px 20px;
    margin-top: 10px; /* % 단위를 px로 변경 */
    color: gray;
    position: relative;
    transition: color 0.3s ease;
  }
  .menu-item-container {
    width: 100%;
  }
}