.header-container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:black;
    width: 80%;
    height: 100px;
    z-index: 1000;
    color: #00c8ff;
    font-size: 40px;
  }
  .header-logo {
    text-decoration: none;
    color: #00c8ff;
    margin-left: 160%;
    font-size: 70px;
  }
  .header-logo:visited {
    text-decoration: none;
  }
  .header-container button{
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    border: 0 none;
    border-radius: 6px;
    color: #00c8ff;
    background-color: transparent;
  }

  .nav-container {
    cursor: pointer;
  }
  
  .header-nav a{
    text-decoration: none;
  }
  nav ul {
    list-style: none;
    display: flex;
    gap: 80%;
    text-decoration: none;
  }
  nav ul li {
    width: 100%; text-decoration: none;
  }
  nav ul:visited {
    text-decoration: none;
  }

  @media only screen and (max-width: 768px) {
    .header-logo {
      margin-left: 50%;
      font-size: 50px;
    }
     nav ul li {
      width: 80%;
      height: 30px;
    }
  }