* {
  box-sizing: border-box;
  margin: 0;
}
html, body {
  width: 100%;
   text-decoration: none;
}

.section1, .section2, .section3, .section4 {
  width: 100%; /* 각 섹션을 화면 너비에 맞게 설정 */
  text-align: center; /* 가운데 정렬 */
  transition: background-color 0.5s ease, color 0.5s ease;
}
.main-container {
  background-color: white;
  color: black;
}
.main-container-container {
  position: absolute;
  width: 100%;
  height: 100%;
}
.main-container.scrolled,
.main-container.scrolled .section2,
.main-container.scrolled .section3,
.main-container.scrolled .section4{
  background-color: black;
  color: white;
}
.top-button {
  user-select: none;
  background-color: black;
  border: 1px solid black;
  cursor: pointer;
  color: white;
  width: 100px;
  height: 100px;
  position: fixed;
  line-height: 1.5;
  z-index: 1000;
  top: 85%;
  left: 93%;
  transition: ease 0.5s background-color;
  font-size: 25px;
  font-weight: bolder;
  font-family: 'Bebas Neue';
}
.top-button:hover {
  background-color: white;
  color: black;
}
.section1 {
  width: 100%;
}
.headline-container {
  display: flex;
  margin-top: 10%;
  margin-left: 5%;
  margin-bottom: 10%;
}

.headline {
  
  position: relative;
  font-size: 180px;
  font-weight: bold;
  text-align: left;
  z-index: 2;
  font-family: 'Bebas Neue';
  line-height: 0.9;
  user-select: none;
  margin-bottom: 5%;
}
.headline-text {
  display: flex;
}
.headline-korean {
  color: grey;
  font-size: 1.1rem;
  line-height: 1.3;
  margin-left: 5%;
  margin-top: 0.5%;
}

.main__scroll-text {
  color: rgba(28,28,30,1);
}

.main__action .main__scroll-box {
  animation: scroll-down 2s infinite;
}
.main__action {
  position: absolute;
  bottom: 50px; 
  left: 80px; 
  text-align: center;
  z-index: 10; 
  width: 100px;
  font-size: 30px;
}

/* Animate scroll icon */
@keyframes scroll-down {
  0%, 100% {
    transform: translateY(0rem);
    opacity: 1;
  }

  35% {
    transform: translateY(1rem);
    opacity: 0;
  }

  70% {
    transform: translateY(-1rem);
    opacity: 0;
  }
}

.skills-container {
  width: 100%;
  overflow: hidden;
  border: 1px solid black;
  border-right: none;
  border-left: none;
}

.skills-display {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  animation: slideLeft 10s linear infinite;
  /* 2초 동안 좌측으로 슬라이드 애니메이션 반복 */
}

.skills {
  align-self: center;
  padding: 15px;
  overflow: hidden;
  font-size: 28px;
  color: black;
  user-select: none;
}

@keyframes slideLeft {
  0% {
    transform: translateX(100%);
    /* 시작 위치: 오른쪽에서 시작 */
  }

  100% {
    transform: translateX(-100%);
    /* 끝 위치: 왼쪽으로 슬라이드 */
  }
}

.section2 {
  margin-top: 5%;
}
.section2-headline {
  position: relative;
  font-size: 200px;
  font-weight: bold;
  z-index: 2;
  text-align: left;
  margin-top: 25%;
  margin-left: 10%;
  font-family: 'Bebas Neue';
  user-select: none;
}
.section2-context-container {
  display: flex;
  flex-direction: row;
}
.section2-article-title {
  font-size: 40px;
  font-weight: bold;
}
.section2-article-context {
  font-size: 20px;
  margin-top: 7%;
}
.section2-image1 {
  z-index: 1;
  margin-left: 10%;
  height: 700px;
  width: 50%;
  margin-top: 8%;
  opacity: 0.8;
}
.section2-article-title2 {
  font-size: 40px;
  font-weight: bold;
}
.section2-article-context2 {
  font-size: 20px;
  margin-top: 7%;
}
.section2-image2 {
  z-index: 1;
  margin-left: 40%;
  height: 700px;
  width: 50%;
  margin-top: 8%;
  opacity: 0.8;
}

.section2-article {
  position: absolute;
  z-index: 2;
  font-size: 35px;
  margin-left: 50%;
  margin-top: 23%;
  text-align: left;
  font-weight: bold;
  }
.section2-article2 {
  position: absolute;
  z-index: 2;
  font-size: 35px;
  margin-left: 12%;
  margin-top: 20%;
  text-align: left;
  font-weight: bold;
  }

.iphone-card {
  width: 320px;
  margin-left: 2%;
  height: 600px;
  background: black;
  border-radius: 35px;
  border: 2px solid rgb(40, 40, 40);
  padding: 7px;
  position: relative;
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.486);
  z-index: 0;
}
.iphone-card-int {
  background-image: linear-gradient(to right bottom, #ff0000, #ff0045, #ff0078, #ea00aa, #b81cd7, #8a3ad6, #5746cf, #004ac2, #003d94, #002e66, #001d3a, #020812);
  background-size: 200% 200%;
  background-position: 0% 0%;
  height: 100%;
  border-radius: 25px;
  transition: all 0.6s ease-out;
  overflow: hidden;
}

.iphone-card:hover .iphone-card-int {
  background-position: 100% 100%;
}

.iphone-top {
  position: absolute;
  top: 0px;
  right: 50%;
  transform: translate(50%, 0%);
  width: 40%;
  height: 30px;
  background-color: black;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.iphone-speaker {
  position: absolute;
  top: 2px;
  right: 50%;
  transform: translate(50%, 0%);
  width: 40%;
  height: 2px;
  border-radius: 2px;
  background-color: rgb(20, 20, 20);
}

.iphone-camera {
  position: absolute;
  top: 6px;
  right: 84%;
  transform: translate(50%, 0%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.048);
}

.iphone-int {
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background-color: rgba(0, 0, 255, 0.212);
}

.iphone-btn1, .iphone-btn2, .iphone-btn3, .iphone-btn4 {
  position: absolute;
  width: 4px;
}

.iphone-btn1, .iphone-btn2, .iphone-btn3 {
  height: 50px;
  top: 30%;
  right: -4px;
  background-image: linear-gradient(to right, #111111, #222222, #333333, #464646, #595959);
}

.iphone-btn2, .iphone-btn3 {
  transform: scale(-1);
  left: -4px;
}

.iphone-btn2, .iphone-btn3 {
  transform: scale(-1);
  height: 45px;
}

.iphone-btn2 {
  top: 26%
}

.iphone-btn3 {
  top: 36%
}

.iphone-hello {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-image: url('../../public/images/cat5.jpeg');
  background-size: cover;
  background-position: center;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  line-height: 35px;
  height: 100%;
  transition: 0.5s ease-in-out;
}

.iphone-hidden {
  display: block;
  opacity: 0;
  transition: all 0.3s ease-in;
}

.iphone-card:hover .iphone-hidden {
  opacity: 1;
}

.iphone-card:hover .iphone-hello {
  background-image: url('../../public/images/cat8.jpeg');
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}
/* When you change the amount of characters in the h1, you have to change 
the with: 14ch and  steps(14, end), if there is 14 characters, put 14, 
if there is 20 put 20 */
.iphone-text-animation {
  font: bold 80% Nanum Gothic Coding;
  width: 13.20ch;
  margin-top: 10em;
  white-space: nowrap;
  overflow: hidden;
}
.iphone-hidden {
  font: bold 80% Nanum Gothic Coding;
  margin-top: 5%;
}

.section3 {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.blank {
  height: 5em;
}

.section3-headline {
  margin-top: 20%;
  font-size: 250px;
  font-weight: bold;
  z-index: 2;
  line-height: 0.8;
  font-family: 'Bebas Neue';
  user-select: none;
}
.section3-skills-container {
  margin-top: 8%;
  display: flex;
  justify-content: center;
}
.section3-skills {
  margin-left: 3%;
  flex-direction: column;
  width: 200px;
  height: 200px;
  align-items: center;position: relative;
  padding: 0.8em 1em;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  background-color: #111111;
  border-radius: 10px;
  color: #fff;
  font-weight: 300;
  font-size: 18px;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.section3-skills:hover {
  animation: sh0 0.5s ease-in-out both;
}

@keyframes sh0 {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  25% {
    transform: rotate(7deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(-7deg) translate3d(0, 0, 0);
  }

  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

.section3-skills:hover span {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

.section3-skills::before,
.section3-skills::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
  opacity: 0;
  transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
  z-index: -1;
  transform: translate(100%, -25%) translate3d(0, 0, 0);
}

.section3-skills:hover::before,
.section3-skills:hover::after {
  opacity: 0.15;
  transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.section3-skills:hover::before {
  transform: translate3d(50%, 0, 0) scale(0.9);
}

.section3-skills:hover::after {
  transform: translate(50%, 0) scale(1.1);
}

.section3-skills-image {
  width: 150px;
  height: 150px;
  padding: 30px;
}
.section3-skills-text {
  font-size: 30px;
}

.section3-skills-container2 {
  margin-top: 3%;
  display: flex;
  justify-content: center;
}

.section4 {
}

.section4-headline {
  margin-left: 5%;
  margin-top: 25%;
  text-align: left;
  font-size: 230px;
  font-weight: bold;
  z-index: 2;
  line-height: 0.8;
  font-family: 'Bebas Neue';
  user-select: none;
}

.section4-media-title {
  margin-top: 10%;
  font-size: 40px;
  text-align: left;
  margin-left: 5%;
}

.section4-media-container {
  margin-top: 3%;
  display: flex;
  flex-direction: row;
}

.section4-image1 {
  margin-left: 5%;
  width: 40%;
  height: 500px;
}


.section4-media-context {
  text-align: left;
  margin-left: 3%;
  font-size: 25px;
  line-height: 1.8;
}

.section4-image2 {
  margin-top: 500px;
  width: 500px;
  max-height: 500px;
  object-fit: contain;
  position: relative;
  margin-left: auto;
}

.arrow-buttons {
  margin-left: 5%;
  margin-right: 7%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.prev-arrow, .next-arrow {
  opacity: 1;
  border: none;
  margin-top: 70%;
  cursor: pointer;
  font-size: 80px;
  transition: ease 0.3s color;
  background-color: white;
}

.prev-arrow:hover, .next-arrow:hover {
  color: grey;
  opacity: 1;
  background-color: white;
  border: none;
  margin-top: 70%;
  cursor: pointer;
  font-size: 80px;
}


.section4-button {
  cursor: pointer;
  width: 15%;
  --glow-color: #00c8ff;
  --glow-spread-color: #0297c0;
  --enhanced-glow-color: #00c8ff;
  --btn-color: #024457;
  border: .25em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  font-size: 15px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 15em;
  outline: none;
  box-shadow: 0 0 1em .25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 .75em .25em var(--glow-color);
  text-shadow: 0 0 .5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
  margin-bottom: 5%;
}

.section4-button::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: .7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

.section4-button:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em .25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 .75em .25em var(--glow-color);
}

.section4-button:active {
  box-shadow: 0 0 0.6em .25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 .5em .25em var(--glow-color);
}

@media only screen and (max-width: 768px) {
  
.main-container {
  overflow-x: hidden;
}
  .headline {
    margin-top: -30%;
    font-size: 70px;
  }

  .main-section1-images {
    margin-top: 30%;
    position: relative;
  }

  .left-image {
    position: relative;
    width: 45%;
    height: 30%;
    margin-right: 15%;
  }

  .right-image {
    width: 40%;
    height: 30%;
    z-index: 0;
    position: relative;
  }

  .skills-container {
    width: auto;
    height: 50px;
    margin-top: 12%;
  }

  .skills-display {
    flex-direction: row;
    animation: phone-slideLeft 10s linear infinite;
  }

  .skills {
    font-size: 14px;
    /* 글꼴 크기 조정 */
    padding: 10px;
    /* 패딩 조정 */
    min-width: 30px;
    /* 최소 폭 설정 */
    white-space: nowrap;
    text-overflow: ellipsis;
    /* 텍스트 잘림 표시(...) */
  }

  @keyframes phone-slideLeft {
    0% {
      transform: translateX(100%);
      /* 시작 위치: 오른쪽에서 시작 */
    }

    100% {
      transform: translateX(-100%);
      /* 끝 위치: 왼쪽으로 슬라이드 */
    }
  }
  .iphone-card {
    margin-left: 20%;
  }
  .section2-headline {
    margin-top: 20%;
    font-size: 70px;
    line-height: 0.8;
  }

  .section2-article {
    margin-top: 15%;
    font-size: 15px;
    margin-left: 20%;
  }

  .section2-image1 {
    margin-top: 15%;
    height: 350px;
    width: 300px;
  }
  .section3-headline {
    font-size: 70px;
  }

  .section3-image1 {
    margin-top: 10%;
    height: 300px;
    width: 300px;
  }

  .section3-article {
    margin-top: 10%;
    font-size: 13px;
    margin: 10%;
  }

  .section3-button {
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .section4-headline {
    font-size: 70px;
  }

  .section4-media-title {
    margin-top: 20%;
    font-size: 30px;
  }

  .section4-media-container {
    flex-direction: column;
  }

  .section4-image1 {
    width: 85%;
    height: auto;
  }

  .section4-image2 {
    margin-left: 5%;
    width: 40%;
    height: 600px;
    object-fit: contain;
  }
  .section4-image2 {
    margin-top: 400px;
    width: 200px;
    max-height: 500px;
    object-fit: contain;
    position: relative;
    margin-bottom: -100%;
  }
  
  .arrow-buttons {
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    margin-bottom: -30%;
  }
  
  .prev-arrow, .next-arrow {
    background-color: white;
    color: white;
    opacity: 1;
    border: none;
    margin-top: 190%;
    cursor: pointer;
    font-size: 40px;
    transition: ease 0.3s color;
    padding: 10px;
  }

  .prev-arrow:hover, .next-arrow:hover {
    background-color: transparent;
    color: grey;
    opacity: 1;
    border: none;
    margin-top: 190%;
    cursor: pointer;
    font-size: 40px;
  }
  

  .section4-media-context {
    margin-top: 10%;
    font-size: 15px;
    margin: 5%;
  }

  .section4-button {
    margin-top: 20%;
    width: 70%;
  }
}